<template>
  <div class="header">
    <div class="logo">
      <img :src="require('@/assets/birdie.png')" alt="">
    </div>
    <span class="title">
      Posterr
    </span>
    <div class="toggle-container">
      <NewTweet />

      <div
        class="overflow-menu"
        @click.self="handleMenuClick"
        v-click-outside="onClickOutside"
      >
        <div class="menu-list" v-show="showMenu" >
          <div class="menu-item">
            <TimelineToggle />
          </div>
          <div class="menu-item">
            <DarkmodeToggle />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import TimelineToggle from '@/components/TimelineToggle'
import DarkmodeToggle from '@/components/DarkmodeToggle'
import NewTweet from '@/components/NewTweet'
import { ref } from 'vue'

const showMenu = ref(false)
const handleMenuClick = () => {
  showMenu.value = !showMenu.value
}
const onClickOutside = () => {
  showMenu.value = false
}
</script>

<style lang="scss" scoped>
.header {
  width: 100%;
  border-bottom: 2px solid var(--highlight-color);
  background-color: var(--background-3);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color-3);
}

.toggle-container {
  margin-left: auto;
  display: flex;
}

.logo {
  height: 50px;

  img {
    object-fit: contain;
    height: 100%;
    object-position: center center;
  }
}

.overflow-menu {
  height: 40px;
  aspect-ratio: 1 / 1;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--text-color-3);
    box-shadow: 0 14px 0 0 var(--text-color-3), 0 29px 0 0 var(--text-color-3);
  }

  .menu-list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--background);
    height: auto;
    width: auto;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--highlight-color-2);
    box-shadow: 3px 2px 50px 0px var(--text-color-3);
  }

  .menu-item {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;

    &:not(:first-child) {
      border-bottom: 1px solid var(--text-color);
    }
  }
}
</style>