<template>
  <div class="layout-container">
    <Header />
    <TweetList
      :followingOnly="props.followingOnly"
    />
  </div>
  <UserProfile />

</template>

<script setup>
import {useInitalFetch} from '@/utils/customHooks'
import Header from '@/views/Header'
import UserProfile from '@/views/UserProfile'
import TweetList from '@/views/TweetList'

const props = defineProps({
  followingOnly: {
    type: Boolean,
    default: false
  }
})

useInitalFetch()
</script>


<style lang="scss" scoped>
  .layout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
</style>