<template>
<div class="container">
  <div class="tweet-list">
    <DisplayTweet
      v-for="tweet in tweetList"
      :tweet="tweet"
      :key="tweet.id"
    />
  </div>
</div>
</template>

<script setup>
import { computed } from "@vue/runtime-core";
import { useStore } from "vuex";
import DisplayTweet from '@/components/DisplayTweet'
import {getLoggedUser} from '@/utils/customHooks'

const props = defineProps({
  followingOnly: {
    type: Boolean,
    default: false
  }
})

const loggedUser = getLoggedUser()

const store = useStore()
const tweetList = computed(() => {
  if (props.followingOnly) {
    return store.getters['tweets/getTweetsByUserId'](loggedUser.value.following)
  }
  return store.getters['tweets/getTweetList']
})
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  display: flex;
  background-color: var(--background-2);
  justify-content: center;
  flex-grow: 1;
  height: calc(100vh - 53px);
}
.tweet-list {
  overflow-y: auto;
  padding-bottom: 100px;
  width: 90vw;
  max-width: 400px;
}
</style>