<template>
  <div class="backdrop" v-if="showUserProfile" @click.self="closeUserProfile">
    <div class="profile-container">
      <div class="line">
        <div class="user-name">
          {{ user.name }}
        </div>
        <button class="follow-btn" @click="handleFollowBtnClick">
          {{ followedByMe ? 'Following' : 'Follow' }}
        </button>
      </div>
      <div class="followsMe" v-if="followsMe">
        This user follows you
      </div>
      <div class="line">
        <div class="joined">joined Posterr at: {{userJoinedAt}}</div>
        <div class="followers">
          <div>
            has {{userFollowers}} followers
          </div>
          <div>
            follows {{userFollowing}} people
          </div>
        </div>
      </div>
      <div class="post-count">
        Posted {{userTweetsCount}} post(s)
      </div>
      <div class="posts">
        <DisplayTweet 
          v-for="tweet in userTweets"
          :tweet="tweet"
          :key="tweet.id"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from '@vue/runtime-core'
import { useRoute, useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { getLoggedUser } from '@/utils/customHooks'
import { format } from 'date-fns'
import DisplayTweet from '@/components/DisplayTweet'

const loggedUser = getLoggedUser()
const route = useRoute()
const router = useRouter()
const userProfileId = computed(() => String(route.query?.profile))
const store = useStore()
const user = computed(() => store.getters['users/getUserById'](userProfileId.value))
const showUserProfile = computed(() => !!user.value?.name?.length)

const followsMe = computed(() => user.value?.following?.includes(loggedUser?.value?.userId))
const followedByMe = computed(() => loggedUser?.value?.following.includes(userProfileId.value))

const closeUserProfile = () => {
  router.push({
    name: route.name
  })
}

const addFollowing = (val) => store.dispatch('user/addFollowing', val)
const removeFollowing = (val) => store.dispatch('user/removeFollowing', val)
const handleFollowBtnClick = () => {
  if (followedByMe.value) {
    removeFollowing(user.value.userId)
  } else {
    addFollowing(user.value.userId)
  }
}

const userTweets = computed(() => store.getters['tweets/getTweetsByUserId'](userProfileId?.value))
const userTweetsCount = computed(() => userTweets.value.length)
const userJoinedAt = computed(() => {
  if (user.value?.joined) {
    return format(new Date(user.value?.joined), 'MMM dd, yyyy')
  }
  return ''
})
const userFollowers = computed(() => user.value.followers?.length)
const userFollowing = computed(() => user.value.following?.length)
</script>

<style lang="scss" scoped>
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(#000000, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  background-color: var(--background-2);
  padding: 2rem;
  border-radius: 5px;
  overflow: hidden;
  width: 90%;
  max-width: 500px;
}
.follow-btn {
  background-color: var(--accent-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: .5rem .8rem;
  font-size: 1rem;
  margin-left: auto;
}
.line {
  display: flex;
  align-items: center;
  width: 100%;

  &--right {
    justify-content: flex-end;
  }
}
.user-name {
  font-weight: bold;
  color: var(--highlight-color-2);
  font-size: 1.2rem;
}
.joined {
  color: var(--highlight-color);
  font-size: .8rem;

}
.followsMe {
  font-size: .8rem;
  font-style: italic;
  margin-top: -.3rem;
}
.posts {
  max-height: 300px;
  overflow-y: auto;
}
.followers {
  color: var(--highlight-color-2);
  font-size: .9rem;
  margin-left: auto;
}
</style>