<template>
  <div class="container">
    <span class="label">
      Dark mode:&nbsp;
    </span>
    <Toggle
      :modelValue="isDarkMode"
      @input="toggleDarkMode"
      class="styling"
    />
  </div>
</template>

<script setup>
import {computed} from 'vue'
import Toggle from '@vueform/toggle'
import {useStore} from 'vuex'

const store = useStore()
const isDarkMode = computed(() => store.getters['user/isDarkMode'])
const toggleDarkMode = () => store.dispatch('user/toggleDarkMode')
const handleChange = () => {

}
</script>

<style lang="scss" scoped>
@import '~@vueform/toggle/themes/default.css';

.container {
  display: flex;
}
.styling {
  --toggle-bg-on: var(--accent-color);
  --toggle-bg-off: var(--highlight-color);
  --toggle-border-on: var(--accent-color);
  --toggle-border-off: var(--highlight-color-2);
  --toggle-handle-enabled: var(--background);
}

.label {
  font-size: .9rem;
  white-space: nowrap;
  color: var(--highlight-color-2);
}
</style>