<template>
  <div class="tweet-container">
    <div class="meta-data">
      <div
        class="user-name user-name--repost"
        v-if="isRepostOf"
        @click="() => goToProfile(tweet.user.userId)"
      >
        reposted by <b>{{ tweet.user.userName }}</b> | {{ getFormattedDate(props.tweet.created_at) }}
      </div>
      <div class="user-name" @click="() => goToProfile(showId)"> 
        <b>{{ showName }}</b>
      </div>
    </div>

    <div class="content">
      <span>
        {{ showText }}
      </span>
      <div v-if="isQuoteOf" class="quote-of">
        <div>
          {{ isQuoteOf.text }}
        </div>
        <div class="author" @click="() => goToProfile(isQuoteOf?.user?.userId)">by <b>{{isQuoteOf?.user?.userName}}</b> | {{getFormattedDate(isQuoteOf.created_at)}}</div>
      </div>
    </div>
    <div class="posted-at">
      {{ showDate }}
    </div>

    <div class="actions">
      <button @click="handleRepost">repost</button>
      <button @click="handleQuote">quote</button>
    </div>
  </div>
</template>

<script setup>
import { computed } from "@vue/runtime-core"
import {isEmpty} from 'lodash'
import { format } from 'date-fns'
import {getLoggedUser} from '@/utils/customHooks'
import { useStore } from "vuex"
import { useRoute, useRouter } from "vue-router"

const props = defineProps({
  tweet: {
    type: Object,
    required: true
  }
})

const store = useStore()
const router = useRouter()
const route = useRoute()
const addTweet = (val) => store.dispatch('tweets/newTweet', val)
const loggedUser = getLoggedUser()
const getTweetById = (id) => store.getters['tweets/getTweetById'](id)
const getFormattedDate = (date) => {
  if (date) {
    return format(new Date(date), "dd/MM/yyyy 'at' hh:mm")
  }
  return ''
}
const setQuoteTweet = val => store.dispatch('tweets/setQuoteTweet', val)

const isRepostOf = computed(() => {
  if (props.tweet.repostOf) {
    return getTweetById(props.tweet.repostOf)
  }
  return null
})

const isQuoteOf = computed(() => {
  if (props.tweet.quoteOf) {
    return getTweetById(props.tweet.quoteOf)
  }
  return null
})

const goToProfile = profile => {
  router.push({
    name: route.name,
    query: { profile }
  })
}

const showDate = computed(() => {
  if (isRepostOf.value) {
    return getFormattedDate(isRepostOf.value.created_at)
  }
  return getFormattedDate(props.tweet.created_at)
})
const showName = computed(() => {
  if (isRepostOf.value) {
    return isRepostOf.value.user?.userName
  }
  return props.tweet.user?.userName
})
const showId = computed(() => {
  if (isRepostOf.value) {
    return isRepostOf.value.user.userId
  }
  return props.tweet.user.userId
})
const showText = computed(() => {
  if (isRepostOf.value) {
    return isRepostOf.value.text
  }
  return props.tweet.text
})
const handleRepost = () => {
  const id = isRepostOf.value?.id ? isRepostOf.value.id : props.tweet.id
  addTweet({
    text: '',
    repostOf: id,
    quoteOf: null,
    user: {
      userName: loggedUser.value.name,
      userId: loggedUser.value.userId
    }
  })
}
const handleQuote = () => {
  if (isRepostOf.value) {
    setQuoteTweet({
      id: isRepostOf.value.id,
      text: isRepostOf.value.text,
      userName: isRepostOf.value.user.userName
    })
  } else {
    setQuoteTweet({
      id: props.tweet.id,
      text: props.tweet.text,
      userName: props.tweet.user.userName
    })
  }
}
</script>

<style lang="scss" scoped>
.tweet-container {
  margin: .5rem;
  padding: .5rem;
  border-bottom: 1px solid var(--highlight-color)
}

.content {
  background-color: var(--background);
  color: var(text-color-3);
  padding: .5rem 1rem;
  border-radius: 5px;
;}

.user-name {
  &--repost {
    font-size: .75rem;
    color: var(--highlight-color-2);

    b {
      font-size: .85rem;
    }
  }
}
.user-name, .author {
  cursor: pointer;
}
.posted-at {
  font-size: .8rem;
  color: var(--highlight-color-2);
  text-align: right;
}
.actions {
  text-align: right;
  margin-top: .5rem;

  button {
    margin-left: .5rem;
    background: none;
    color: var(--accent-color);
    border: none;
    font-size: .8rem;
    font-weight: bold;
    padding: .3rem .5rem;
    cursor: pointer;
  }
}
.quote-of {
  margin: 5px;
  padding: .3rem .5rem;
  background: var(--background-2);
  font-size: .85rem;
  border-radius: 5px;
  color: var(--text-color);

  .author {
    text-align: right;
    margin-top: 5px;
    font-size: .7rem;
    color: var(--highlight-color-2);
  }
}
</style>