<template>
  <div
    @click="handleShow"
    class="compose"
  >
    Compose
  </div>

  <div class="backdrop" v-show="showCompose" @click.self="showCompose = false">
    <div class="container">
      <div class="text-area">
        <textarea
          class="editable"
          @keyup.enter="handlePostAction"
          @focus="isFocused = true"
          @blur="isFocused = false"
          :maxLength="props.maxLength"
          v-model="newTweet"
        ></textarea>
        <div v-if="showPlaceholer" class="placeholder">What's on your mind</div>
        <span class="length">{{ remainingLength }}</span>
      </div>
      <div class="quoting" v-if="isQuote">
        <div><b>Quoting tweet:</b> {{ isQuote.text }}</div>
        <span><b>From:</b> {{ isQuote.userName }}</span>
      </div>
      <div class="buttons">
        <template v-if="canUserPostToday">
          <button v-if="isQuote" class="clear-quote" @click="clearQuote">Cancel quote</button>
          <button :disabled="!isPostable" class="post-btn" @click="handlePostAction">
            Post it!
          </button>
        </template>
        <div class="cant-post" v-else>
          You have already reached 5 posts today
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, computed, watch, nextTick } from 'vue'
import { useStore } from 'vuex'
import { getLoggedUser } from '@/utils/customHooks'

const loggedUser = getLoggedUser()

const props = defineProps({
  maxLength: {
    type: Number,
    default: 777,
    required: false
  }
})

const store = useStore()

const showCompose = ref(false)
const handleShow = () => {
  showCompose.value = true
}
const isQuote = computed(() => store.getters['tweets/getIsQuoteOf'])
watch(isQuote, (newVal, oldVal) => {
  if (newVal && oldVal !== newVal) {
    newTweet.value = ''
    showCompose.value = true
  } else {
    showCompose.value = false
  }
})
const canUserPostToday = computed(() => store.getters['user/canUserPostToday'])
const addTweet = (val) => store.dispatch('tweets/newTweet', val)
const setQuoteTweet = (val) => store.dispatch('tweets/setQuoteTweet', val)
const clearQuote = async () => {
  setQuoteTweet(null)
  await nextTick(() => {
    showCompose.value = true
  })
}

const addPostCounter = () => store.dispatch('user/addPostCounter')

const handlePostAction = () => {
  if (isPostable.value && addPostCounter()) {
    const posted = addTweet({
      user: {
        userId: loggedUser.value.userId,
        userName: loggedUser.value.name
      },
      quoteOf: isQuote.value?.id,
      text: newTweet.value
    })

    if (posted) {
      newTweet.value = ''
      setQuoteTweet(null)
      showCompose.value = false
    }
  }
}

const isPostable = computed(() => newTweet.value.length > 0)
const newTweet = ref('')
const isFocused = ref(false)
const remainingLength = computed(() => props.maxLength - newTweet.value.length)
const showPlaceholer = computed(() => newTweet.value.length === 0 && !isFocused.value)
</script>

<style lang="scss" scoped>
.container {
  background-color: var(--background-3);
  border: 1px solid var(--accent-color);
  border-radius: .5rem;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}
.compose {
  font-weight: bold;
  font-size: 1.2rem;
  padding: .3rem .5rem;
  cursor: pointer;
  margin-right: .5rem;
}
.backdrop {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparentize(#000000, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
}
.text-area {
  position: relative;
}
.editable {
  height: 100px;
  width: 90vw;
  max-width: 280px;
  border-radius: .5rem;
  border: none;
  background-color: var(--background-2);
  color: var(--text-color-3);
  padding: .5rem .8rem;
  font-size: 1rem;
  resize: none;
}
.placeholder {
  pointer-events: none;
  position: absolute;
  top: .3rem;
  left: .3rem;
}

.length {
  position: absolute;
  top: calc(100% + .5rem);
  left: .5rem;
  color: var(--highlight-color-2);
  font-weight: bold;
}

.post-btn {
  background-color: var(--accent-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: .5rem .8rem;
  font-size: 1rem;
  align-self: flex-end;
}

.quoting {
  margin-top: 3rem;
}

.clear-quote {
  background: none;
  color: var(--accent-color);
  border: none;
  font-weight: bold;
  padding: .3rem .5rem;
  cursor: pointer;
}
.buttons {
  align-self: flex-end;
  margin-top: .5rem;
}
.cant-post {
  margin-top: 2rem;
}
</style>