<template>
  <div class="container">
    <span class="label">
      Following Only:&nbsp;
    </span>
    <Toggle
      :modelValue="isFollowing"
      @input="handleChange"
      class="styling"
    />
  </div>
</template>

<script setup>
import {useRouter, useRoute} from 'vue-router'
import {NAMED_ROUTES} from '@/routes'
import {computed} from 'vue'
import Toggle from '@vueform/toggle'

const route = useRoute()
const router = useRouter()
const isFollowing = computed(() => route.name !== NAMED_ROUTES.ALL)

const handleChange = () => {
  router.push({
    name: isFollowing.value ? NAMED_ROUTES.ALL : NAMED_ROUTES.FOLLOWING
  })
}
</script>

<style lang="scss" scoped>
@import '~@vueform/toggle/themes/default.css';

.container {
  display: flex;
}
.styling {
  --toggle-bg-on: var(--accent-color);
  --toggle-bg-off: var(--highlight-color);
  --toggle-border-on: var(--accent-color);
  --toggle-border-off: var(--highlight-color-2);
  --toggle-handle-enabled: var(--background);
}

.label {
  font-size: .9rem;
  white-space: nowrap;
  color: var(--highlight-color-2);
}
</style>