<template>
<div id="container" :class="{'dark-theme': isDarkMode}">
  <router-view></router-view>
</div>
</template>

<script setup>
import { computed } from '@vue/runtime-core'
import {useStore} from 'vuex'

const store = useStore()
const isDarkMode = computed(() => store.getters['user/isDarkMode'])
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
#app, html, body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #e72490;
  --light-color: #eff7f6;
  --light-color-2: #D9E9E7;
  --light-color-3: #c3cccb;
  --dark-color: #313131;
  --dark-color-2: #1a1a1a;
  --dark-color-3: #0a0a0a;
  --highlight-color: #8f95d3;
  --highlight-color-2: #627384;
}

#container {
  --background: var(--light-color);
  --background-2: var(--light-color-2);
  --background-3: var(--light-color-3);
  --text-color: var(--dark-color);
  --text-color-2: var(--dark-color-2);
  --text-color-3: var(--dark-color-3);

  &.dark-theme {
    --background: var(--dark-color);
    --background-2: var(--dark-color-2);
    --background-3: var(--dark-color-3);
    --text-color: var(--light-color);
    --text-color-2: var(--light-color-2);
    --text-color-3: var(--light-color-3);
    --accent-color: #d30c7b;
  }

  background-color: var(--background);
  color: var(--text-color);

  min-height: 100vh;
  min-width: 100vw;
}
</style>
